/* ===== LOGIN ===== */

body{
    background: linear-gradient(135deg, #f4f7fb 0%, #dbeafe 100%);
    min-height: 100vh;
}

header{
    background:#fff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 50px;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
}

.logo{
    height:60px;
}

nav{
    display:flex;
    gap:20px;
}

nav a{
    text-decoration:none;
    color:#0D47A1;
    font-weight:600;
    transition:.3s;
}

nav a:hover{
    color:#FF6F00;
}

.card{
background: white;
width: 420px;
margin: 50px auto;
padding: 40px;
border-radius: 25px;
box-shadow: 0 15px 40px rgba(0,0,0,.15);
text-align: center;
animation: aparecer .5s ease;
}

@keyframes aparecer{
from{
opacity:0;
transform:translateY(20px);
}
to{
opacity:1;
transform:translateY(0);
}
}

.card nav{
justify-content:center;
margin-bottom:20px;
}

.logo{
height:80px;
}

.card h2{
color:#0D47A1;
font-size:2rem;
font-weight:bold;
margin-bottom:25px;
}

form{
text-align:left;
margin-bottom:20px;
}

form p{
color:#0D47A1;
font-size:2rem;
font-weight:bold;
margin-bottom:15px;
}

form label{
color:#444;
font-size:1rem;
font-weight:bold;
cursor:pointer;
}

input[type="radio"]{
accent-color:#FF6F00;
margin:10px 5px 10px 0;
}

.card input[type="email"],
.card input[type="password"]{
width:100%;
padding:14px;
margin-bottom:15px;
border:2px solid #e0e0e0;
border-radius:12px;
font-size:1rem;
transition:.3s;
box-sizing:border-box;
}

.card input[type="email"]:focus,
.card input[type="password"]:focus{
border-color:#FF6F00;
box-shadow:0 0 10px rgba(255,111,0,.2);
}

.card button{
width:100%;
padding:15px;
background:#FF6F00;
color:white;
border:none;
border-radius:12px;
font-size:1rem;
font-weight:600;
cursor:pointer;
transition:.3s;
}

.card button:hover{
background:#e65c00;
transform:translateY(-3px);
box-shadow:0 8px 20px rgba(255,111,0,.3);
}

@media(max-width:768px){


.card{
    width:90%;
    padding:30px;
}

.logo{
    height:65px;
}


}

